html, body {
    background-color:  #e6f2ff
    ;
    font-family: 'Ubuntu', sans-serif;
    
}

@media only screen and (max-width: 480px) {
    .logo {max-width: 200px; max-height: 200px; }
    .a-logo {max-height: 300px;}
    .da-logos {max-width: 250px;}
    .contact-form {max-width: 220px;}
    .dungi {margin: -200px;}
}

* {
    box-sizing: border-box;
}

#headtainer, #foot {
    flex-flow: 1;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    /* margin: 5px; */
}

/*------------------ Nav Bar -------------------- */

.nahv {
    display: flex;
    flex-direction: column;
}

/*------------------ Nav Bar Links -------------------- */

.linky {
    text-align: center;
    height: 50px;
    width: 75px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    margin: auto;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    border-bottom: solid whitesmoke 1px;

}

.link:hover {
    cursor: pointer;
    text-decoration: underline;

}

/*------------------ Headings -------------------- */

.heading-one {
    /* text-align: center; */
    font-size: 3m;

}

.heading-two {
    text-align: center;
    font-size: 20px;
}

.heading-three {
    text-align: center;
    font-size: 3em;
    margin: 0px;
}

/*------------------ Main Container  -------------------- */
.main-tainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}


/*------------------ Logos Styles -------------------- */ 

.da-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.a-logo {
    padding: 75px;
    height: 400px;
    width: 400px;
    /* border: solid black 2px; */
}

.logo:hover {
    transform: scale(1.5);
    transition-duration: .2s;
    cursor: pointer;
}

.logo{
    height: 250px;
    width: 250px;
}

.contact-form {

    margin: 100px;
    width: 800px;
    /* max-width: 900px; */
}
/*------------------ Who am I-------------------- */
.w-i {
    margin: 20px;
}

.bio {
    /* border: solid 2px black; */
    align-self: center;
    max-width: 825px;
    text-align: center;
}

.my-bio {
        justify-content: center;
}

#my-img {
    height: 250px;
    width: 250px;
    margin: 10px;
    /* align-self: center; */
    border-radius: 180px;
}

#my-img:hover {
    cursor: pointer;
    transition-duration: .5s;
    transform: scale(1.1);
}
/*------------------ Footer -------------------- */
#foot {
    height: 50px;
    border-top: solid 1px grey;
    width: 100%;
}
.foot-container {
    height: 50px;
}
/*------------------ -------------------- */
#gib-link {
    height: 35px;
    width: 35px;
    margin: 10px
}

#gib-link:hover {
    cursor: pointer;
    border: dotted navy 2px;
    border-radius: 180px;
    transition-duration: .3s;
    border-style: ;

}

.giblub {
    font-size: 12px;
    font-weight: 500;
    margin-left: -10px;
    margin-top: 10px;
}

.dungi {
    height: auto;
    width: 100vw;
    border: solid grey 2px;
    border-radius: 5px;
    margin-top: 300px;
}

.dungi-imgs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 600px;
    text-align: center;
    font-size: 14px;

}

.design-sec {
    opacity: 1;
    transform: translate(0, 20px);
    transition: all 1s;
}

.design-sec:visible {
    opacity: 1;
    transform: translate(0, 0);
}

#submit-btn {
    border-radius: 5px;
    font-size: 10px;
}

#submit-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: .2s;
}

#description {
    padding-top: 40px;
}

